*{
  font-family: 'Ubuntu', sans-serif;
}


.first-cont{
  width: 100%;
}
.second-cont{
  width: 100%;
  padding-top: 30px !important;
}
.third-cont{
  width: 100%;
  padding-top: 30px !important;
}

.sidenav{
  display: flex;
  flex-direction: column;
  text-align: right;
  cursor: pointer;
  padding-top: 70px;
  gap: 2rem;
}

.wrapper a{
  color: #333;
}

.sidenav li{
  padding-right: 20px;
}

.heart:hover{
  color: red;
  transform: scale(1.1);

}

.reply_all:hover{
  color: darkcyan;
  transform: scale(1.1);
}
.bookmark_border:hover{
  color: blue;
  transform: scale(1.1);
}
.more_horiz:hover{
  color: gray;
  transform: scale(1.1);
}

.f-title{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.center-wrapper{
  padding: 15px 0px !important;
}

.avatar{
  width: 50px;
  height:50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.title{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
  
}

.desc{
  font-size: 14px;
  color: gray;
  margin-top: 0;
}

.h1{
  font-weight: bold;
  font-size: 3rem;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 60px;
}

.links{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.links a{
  color: gray;
}
.links a:hover{
  color: darkslategray;
}

.h3{
  font-size: 2rem;
}

.flow-text{
  font-size: 1.2rem;
  line-height: 30px;
}

.conclusion{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-conc{
  padding: 10px 15px;
  background-color: white;
  color: rgb(100, 100, 100);
  font-weight: bold;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.btn-conc:hover{
  color: black;
  border: 1px solid rgb(73, 73, 73)
}

.textbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textbox a{
  margin-right: 15px;
}

.link-title{
  font-size: 1.3rem;
  color: rgb(39, 39, 39) !important;
  font-weight: 600;
}

.link-desc{
  font-size: 1rem;
  color: gray;
  margin-top: 0;
}

.avatar2{
  width: 70px;
  height:70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.link-title:hover{
  color: blue !important;
}


.card-box{
  padding: 5px 10px;
}

.black-back{
  width: 100%;
  height: 3vh;
  background-color: darkslategray;
}

.btn-follow{
  width: 100%;
}

.right-desc{
  font-size: 1rem;
  color: gray;
  line-height: 22px;
}

.p-bold{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-weight: bold;
  color: gray;
}

.child{
  margin-top: 0;
  color: #444;
}

.about{
  margin-bottom: 10px;
}

.p-link{
  color: #444;
}
.p-link:hover{
  color: dodgerblue;
}

.line{
  border: 1px solid rgb(236, 236, 236);
}

.h4{
  font-size: 1.5rem;
  font-weight: bolder;
  padding-top: 15px;
}

.modal-close:hover{
  color: #2196F3;
  transform: scale(1.2);
}

.modal{
  width: 480px;
  border-radius: 5px;
}

.m-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log-in{
  width: 80%;
}

.gray{
  color: gray;
}

.btn-logo{
  padding: 10px;
}

.modal .btn-flat{
  margin-top: 10px;
  color: #2196F3;
  font-weight: 600;
}

.modal .btn-flat:hover{
  background-color: rgb(235, 235, 235);
}

.modal-trigger{
  position: relative;
}

.num{
  position: absolute;
  margin-top: 40px;
  margin-left: 7px;
  color: gray;
}


@media screen and (max-width: 480px) {
  .row .col.s7{
    width: 100%;
  }
  .h1{
    font-size: 2rem;
    line-height: 35px;
  }
}
@media screen and (max-width: 425px) {
  .row .col.s7{
    width: 100%;
  }
  .h1{
    font-size: 2rem;
    line-height: 35px;
  }
}










